{% extends 'front/base.html.twig' %}

{% block title %}Invitation{% endblock %}

{% block body_security %}
    {% if formPassword is defined %}
        {% form_theme formPassword 'front/forms/security.html.twig' %}
        {{ form_start(formPassword, { attr: {'novalidate': 'novalidate' } }) }}
            {{ form_row(formPassword.first) }}
            {{ form_row(formPassword.second) }}
            <button type="submit" name="submit" class="btn btn--secondary">Mettre à jour pour se connecter</button>
        {{ form_end(formPassword) }}
    {% else %}
        {{ showNotification('Lien d\'invitation incorrect', 'error') }}
    {% endif %}
{% endblock %}