<!-- Desktop Header -->
<header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
    <div class="w-1/2"></div>
    <div class="w-1/2 flex justify-end relative">
        <div class="group flex justify-end lg:justify-start py-4">
            <div class="flex flex-row items-center cursor-pointer">
                <div class="text-md uppercase italic mr-2 xl:mr-4">
                    <p class="text-darkblue text-right font-bold whitespace-nowrap">{{ app.user }}</p>
                </div>
                <div class="transition duration-300 transform group-hover:rotate-90">
                    <svg width="40" height="40" viewbox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.7993 14.1813L37.9225 14.8756C39.0989 15.1366 39.9371 16.1808 39.9372 17.3867V21.6649C39.9372 22.8707 39.0989 23.9143 37.9225 24.1759L34.7993 24.8689L34.2908 26.0981L36.0077 28.7973C36.6553 29.8144 36.5095 31.1447 35.6566 31.997L32.632 35.0221C32.1357 35.5184 31.4771 35.7758 30.8128 35.7758C30.336 35.7758 29.8569 35.644 29.4323 35.3732L26.7325 33.6557L25.504 34.1642L24.8109 37.2874C24.5487 38.4638 23.5052 39.3021 22.2993 39.3021H18.0211C16.8153 39.3021 15.7717 38.4645 15.5107 37.288L14.8159 34.1642L13.5867 33.6557L10.8869 35.3726C10.4629 35.6435 9.98193 35.7752 9.50522 35.7752C8.84098 35.7752 8.17981 35.5184 7.68349 35.0221L4.65345 31.9976C3.80051 31.1446 3.64483 29.8144 4.29251 28.7972L5.98992 26.098L5.44091 24.8689L2.23808 24.1758C1.06106 23.9143 0.0628662 22.8701 0.0628662 21.6642V17.386C0.0628662 16.1802 1.06098 15.1366 2.23808 14.8756L5.52114 14.1813L6.02969 12.9528L4.3122 10.2549C3.66514 9.23773 3.81094 7.90808 4.66389 7.05577L7.68843 4.0331C8.18475 3.53679 8.84342 3.28494 9.50828 3.28494C9.98506 3.28494 10.4642 3.42714 10.8888 3.69734L13.588 5.43569L14.8165 4.96691L15.5095 1.924C15.7717 0.747533 16.8153 0.0704346 18.0211 0.0704346H22.2993C23.5052 0.0704346 24.5487 0.746905 24.8109 1.924L25.504 4.88604L26.7331 5.39522L29.4323 3.6771C29.8569 3.40691 30.3361 3.27514 30.8128 3.27514C31.477 3.27514 32.1357 3.53185 32.632 4.02879L35.6566 7.05389C36.5095 7.9062 36.6554 9.23647 36.0077 10.2543L34.2908 12.9522L34.7993 14.1813ZM32.9347 22.6483L37.3643 21.6649H37.3644V17.3867L32.9349 16.4081L31.4018 12.7102L33.8381 8.89279L30.8135 5.88785L26.9851 8.36455L23.2835 6.91177L22.2994 2.64338H18.0212L17.0328 6.91177L13.3257 8.28432L9.48742 5.84745L6.44271 8.87255L8.83855 12.7004L7.22522 16.4026L2.63518 17.386V21.6642L7.22522 22.6483L8.91887 26.3499L6.48255 30.1784L9.50765 33.2029L13.3355 30.7666L17.0371 32.2997L18.0211 36.7293H22.2993L23.2827 32.2997L26.9849 30.7666L30.8134 33.2035L33.8379 30.1784L31.4016 26.3499L32.9347 22.6483Z" fill="#D3CECB"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.50269 19.5252C9.50269 13.6391 14.2741 8.86768 20.1608 8.86768C26.0462 8.86768 30.8177 13.639 30.8177 19.5257C30.8177 25.4118 26.0462 30.1827 20.1602 30.1827C14.2741 30.1827 9.50269 25.4112 9.50269 19.5252ZM12.0756 19.5251C12.0756 23.9834 15.7018 27.6096 20.1602 27.6096C24.6179 27.6096 28.2447 23.9834 28.2447 19.5257C28.2447 15.0674 24.6185 11.4405 20.1608 11.4405C15.7024 11.4405 12.0756 15.0674 12.0756 19.5251Z" fill="#D3CECB"/>
                    </svg>
                </div>
            </div>
            <div class="hidden group-hover:block absolute right-0 top-full bg-white rounded-lg shadow-lg px-5 py-3">
                <div class="flex flex-col gap-y-2 text-md font-bold">
                    {#<a href="{{ path('back_profile') }}">Mon profil</a>#}
                    <a href="{{ path('back_security_logout') }}">Se déconnecter</a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Mobile Header & Nav -->
<header x-data="dropdown" class="w-full bg-black-light py-5 px-6 sm:hidden">
    <div class="flex items-center justify-between">
        <a href="{{ path('back_home') }}" class="text-white text-3xl font-semibold uppercase hover:text-gray-300">Admin</a>
        <button @click="toggle" class="text-white text-3xl focus:outline-none">
            <i x-show="!open" class="fas fa-bars"></i>
            <i x-show="open" class="fas fa-times"></i>
        </button>
    </div>

    <!-- Dropdown Nav -->
    <nav :class="open ? 'flex': 'hidden'" class="flex flex-col pt-4">
        {{ _self.itemSidebar({
            icon:'fa-align-left',
            text: "Facteurs d'émission",
            route : 'back_emission_home',
            activeRoutePrefixes : [
                'back_emission'
            ]
        })
        }}
        {{ _self.itemSidebar({
            icon:'fa-sign-out-alt',
            text: "Se déconnecter",
            route : 'back_security_logout',
            activeRoutePrefixes : [
                'back_security_logout'
            ]
        })
        }}
    </nav>
</header>

{% macro itemSidebar(params) %}
    {% set active = false %}
    {% for prefix in params.activeRoutePrefixes %}
        {% if active == false and app.request.get('_route') starts with prefix %}
            {% set active = true %}
        {% endif %}
    {% endfor %}
    <a href="{{ path(params.route) }}" class="flex items-center {{ active ? 'text-primary' : 'text-white' }} py-2 pl-4">
        <i class="fas mr-3 {{ params.icon }}"></i>
        {{ params.text }}
    </a>
{% endmacro %}