{% if (campaign.notionBudget is same as(constant('App\\Entity\\Campaign\\Campaign::NOTION_BUDGET_YES_CAMPAIGN')) or campaign.notionBudget is same as(constant('App\\Entity\\Campaign\\Campaign::NOTION_BUDGET_YES_MEDIA')) and budgets is defined and app.user.status == 'SUPERVISOR') %}
    <div class="dropdown">
        <div class="flex flex-nowrap flex-row justify-start items-center my-4 relative">
            <div class="relative pr-7 cursor-pointer toggle-dropdown">
                <h2>Budget global associé à la campagne</h2>

                <div class="absolute top-1/2 transition transform -translate-y-1 right-2.5 border-solid border-2 border-t-0 border-l-0 border-black-light w-2.5 h-2.5 arrow"></div>
            </div>

            <div class="bg-white-verydark h-px flex-1"></div>
        </div>

        <div class="stats">
            <div class="mb-2 ml-4">
                <span class="text-primary">{{ budgets.global|number_format(0, '.', ' ') }}</span> euros (HT)
            </div>

            {% if campaign.notionBudget is same as(constant('App\\Entity\\Campaign\\Campaign::NOTION_BUDGET_YES_MEDIA')) %}
                <div class="font-bold">Répartition du budget de votre campagne de communication</div>

                <div class="mb-6 grid gap-8 grid-cols-12">
                    <div class="col-span-full lg:col-span-5">
                        <canvas class="chart-radio-bilan mt-4" height="240" data-budget="1">
                            {% for key, budget in budgets|slice(1) %}
                                <div class="stat" data-name="{{ key }}" data-stat="{{ getPercent(budget, budgets.global) }}"></div>
                            {% endfor %}
                        </canvas>
                    </div>

                    <div class="col-span-full lg:col-span-7">
                        <canvas class="chart-bar-bilan mt-4" height="240" data-budget="1">
                            {% for key, budget in budgets|slice(1) %}
                                <div class="stat" data-name="{{ key }}" data-stat="{{ budget }}"></div>
                            {% endfor %}
                        </canvas>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}

{% set supportsTotal = [] %}
{% for stat in statistics %}
    {% set supportsTotal = supportsTotal|merge([getTotal(stat)]) %}
{% endfor %}
{% set bilanTotal = toTons(getTotal(supportsTotal)) %}
<div class="dropdown">
    <div class="flex flex-nowrap flex-row justify-start items-center my-4 relative">
        <div class="relative pr-7 cursor-pointer toggle-dropdown">
            <h2>Bilan global</h2>
            <div class="absolute top-1/2 transition transform -translate-y-1 right-2.5 border-solid border-2 border-t-0 border-l-0 border-black-light w-2.5 h-2.5 arrow"></div>
        </div>
        <div class="bg-white-verydark h-px flex-1"></div>
    </div>
    <div class="mb-6 grid gap-8 grid-cols-12 stats">
        <div class="col-span-full lg:col-span-5">
            <div class="font-bold">Répartition de l’empreinte carbone de votre campagne de communication</div>
            <canvas class="chart-radio-bilan mt-4" height="240">
                {% for key, stat in statistics %}
                    <div x-data class="stat" data-name="{{ key }}" data-stat="{{ getPercent(toTons(getTotal(stat)), bilanTotal) }}"></div>
                {% endfor %}
            </canvas>
        </div>
        <div class="col-span-full lg:col-span-7">
            <div class="font-bold">Empreinte carbone de la campagne<br>(tonnes équivalent CO₂)</div>
            <canvas class="chart-bar-bilan mt-4" height="240">
                {% for key, stat in statistics %}
                    <div x-data class="stat" data-name="{{ key }}" data-stat="{{ toTons(getTotal(stat)) }}"></div>
                {% endfor %}
            </canvas>
        </div>
    </div>
</div>

{% if campaign.hasNotionMediaEfficiency is same as(true) and contacts is defined %}
    {% set totalContacts = 0 %}

    {% for key, contact in contacts %}
        {% set totalContacts = totalContacts + contact.contacts %}
    {% endfor %}

    {% if totalContacts > 0 %}
        <div class="dropdown">
            <div class="flex flex-nowrap flex-row justify-start items-center my-4 relative">
                <div class="relative pr-7 cursor-pointer toggle-dropdown">
                    <h2>Emission par contact</h2>

                    <div class="absolute top-1/2 transition transform -translate-y-1 right-2.5 border-solid border-2 border-t-0 border-l-0 border-black-light w-2.5 h-2.5 arrow"></div>
                </div>

                <div class="bg-white-verydark h-px flex-1"></div>
            </div>

            <div class="stats">
                <div class="font-bold">Détail des émissions par contact par média (g CO2eq/contact)</div>

                <div class="mb-6 grid gap-8 grid-cols-12">
                    <div class="col-span-full lg:col-span-8">
                        <canvas class="chart-bar-bilan mt-4" height="240" data-contact="1">
                            {% for key, contact in contacts %}
                                <div class="stat" data-name="{{ key }}" data-stat="{{ contact.contacts > 0 ? (toGrams(getTotal(statistics[key])) / contact.contacts)|round(2) : 0 }}"></div>
                            {% endfor %}
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<div class="flex items-center gap-x-2 mt-12 mb-6">
<span class="font-bold">Statistiques par étapes</span>
<hr class="flex-grow">
</div>

{% for key, stat in statistics %}
    {% set support = getSupportByName(key) %}
    {% set total = getTotal(stat) %}
    <div class="dropdown">
        <div class="flex flex-nowrap flex-row justify-start items-center my-4 relative">
            <div class="relative pr-7 cursor-pointer toggle-dropdown">
                <h2>{{ support.label }}</h2>
                <div class="absolute top-1/2 transition transform -translate-y-1 right-2.5 border-solid border-2 border-t-0 border-l-0 border-black-light w-2.5 h-2.5 arrow"></div>
            </div>
            <div class="bg-white-verydark h-px flex-1"></div>
        </div>
        <div class="mb-4 grid gap-8 grid-cols-12 stats">
            <div class="col-span-full lg:col-span-5">
                <div class="font-bold">Répartition de l’empreinte carbone de votre {{ support.label|lower }}</div>
                <canvas class="chart-radio-bilan mt-4" height="240">
                    {% for name, statSupport in stat %}
                        <div class="stat stat--sub" data-name="{{ key }}" data-label="{{ name }}" data-stat="{{ getPercent(statSupport, total) }}"></div>
                    {% endfor %}
                </canvas>
                <div class="text-center mt-4">
                    <a href="{{ path('front_campaign_update', {
                        campaign: app.request.get('campaign').id,
                        variantIndex: app.request.get('variantIndex'),
                        step : key,
                    }) }}" class="btn btn--primary btn--little">Modifier</a>
                </div>
            </div>
            <div class="col-span-full lg:col-span-7 leading-tight">
                <div class="px-2">
                    <div class="flex flex-row flex-nowrap items-end text-xs">
                        <div class="w-2/6 px-2 pb-3"><span class="font-medium">Phase</span></div>
                        <div class="w-3/6 px-2 pb-3 border-l border-solid border-white-verydark"><span class="font-medium">Empreinte<br>carbonne</span></div>
                        <div class="w-1/6 px-2 pb-3 border-l border-solid border-white-verydark"><span class="font-medium">Part relative</span></div>
                    </div>
                    {% for name, statSupport in stat %}
                        <div class="flex flex-row flex-nowrap items-stretch text-2xs">
                            <div class="w-2/6 px-2 pb-3 pt-0.5 font-medium">{{ name }}</div>
                            <div class="w-3/6 px-2 pb-3 border-l border-solid border-white-verydark font-medium">
                                <span class="text-primary text-base font-bold">{{ statSupport }}</span> kgéqCO₂<br>
                                <span class="italic">soit {{ toKmVoiture(toTons(statSupport)) }} km en voiture</span><br>
                                <span class="italic">soit {{ toAnneesEmissionFr(toTons(statSupport)) }} années d’émissions d’un français</span>
                            </div>
                            <div class="w-1/6 px-2 pb-3 border-l border-solid border-white-verydark font-medium"><span class="text-primary text-base font-bold">{{ getPercent(statSupport, total) }}</span>%</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="py-2.5 px-4 bg-primary text-white rounded-lg">
                    <div class="flex flex-row flex-nowrap items-stretch text-2xs">
                        <div class="w-2/6 px-2 pt-0.5 font-bold text-xs">Total</div>

                        <div class="w-3/6 px-2 font-medium">
                            <span class="text-base">{{ total }}</span> kgéqCO₂ <span class="text-base">{{ toTons(total) }}</span> téqCO₂ <span class="italic">(3)</span><br>
                            <span class="italic">soit {{ toKmVoiture(toTons(total)) }} km en voiture (1)</span><br>
                            <span class="italic">soit {{ toAnneesEmissionFr(toTons(total)) }} années d’émissions d’un français (2)</span>
                        </div>

                        <div class="w-1/6 px-2 font-medium"></div>
                    </div>
                </div>

                {% if campaign.hasNotionMediaEfficiency is same as(true) and contacts is defined %}
                    <div class="py-2.5 px-4 bg-grey-blue text-white rounded-lg mt-4">
                        <div class="flex flex-row flex-nowrap items-stretch text-2xs">
                            <div class="w-2/6 px-2 pt-0.5 text-xs">
                                Emissions
                                <br/>
                                carbones
                                <br/>
                                par contact
                            </div>

                            <div class="w-4/6 px-2 font-medium">
                                <ul class="list-circle">
                                    <li>
                                        {% if contacts[key].contacts > 0 %}
                                            Nombre de contact : {{ contacts[key].contacts }}
                                            <br/>
                                            Emissions carbones par contact :
                                            <br/>
                                            {{ contacts[key].contacts > 0 ? (toGrams(total) / contacts[key].contacts)|round(2) : 0 }} g CO₂ éq / contact
                                        {% else %}
                                            Nombre de contact : Champ non renseigné
                                        {% endif %}
                                    </li>

                                    <li>
                                        {% if contacts[key].contacts_unique > 0 %}
                                            Nombre de contact unique : {{ contacts[key].contacts_unique }}
                                            <br/>
                                            Emissions carbones par contact unique :
                                            <br/>
                                            {{ contacts[key].contacts_unique > 0 ? (toGrams(total) / contacts[key].contacts_unique)|round(2) : 0 }} g CO₂ éq / contact
                                        {% else %}
                                            Nombre de contact unique : Champ non renseigné
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}

<div class="font-medium">
    (1) <span class="italic">Equivalence calculée sur la base de la moyenne des émissions de CO₂ du parc automobile français. Source : IFP</span><br>
    (2) <span class="italic">Source : ADEME : "1 français émet en moyenne 8,75 t/co² par an."</span><br>
    (3) <span class="italic">Empreinte carbone arrondie à la tonne supérieure</span><br>
</div>